{% extends 'GimnasioWebSite/layout.html' %}
{% load static %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center">Nuestro Personal</h2>
    <hr>
    <br>
    <section name="entrenadores">
        <h3 class="mb-4">Entrenadores</h3>
        <div class="row">
            {% for entrenador in Entrenadores %}
                <div class="col-md-6 mb-4">
                    <div class="card d-flex flex-row align-items-center">
                        <img src="{{ entrenador.imagen }}" class="card-img-top img-staff" alt="{{ entrenador.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ entrenador.nombre }}</h5>
                            <p class="card-text">{{ entrenador.descripcion }}</p>

                        </div>
                    </div>
                </div>
                {%empty%}
                    aun no hay entrenadores
            {% endfor %}
        </div>
    </section>
    <br>
    <section name="asistentes">
        <h3 class="mb-4">Asistentes</h3>
        <div class="row">
            {% for asistente in Asistentes %}
                <div class="col-md-6 mb-4">
                    <div class="card d-flex flex-row align-items-center">
                        <img src="{{ asistente.imagen }}" class="card-img-top img-staff" alt="{{ asistente.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ asistente.nombre }}</h5>
                            <p class="card-text">{{ asistente.descripcion }}</p>
                        </div>
                    </div>
                </div>
                {%empty%}
                    aun no hay asistentes
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}