{% extends 'GimnasioWebSite/layout.html' %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center">Nuestro Personal</h2>
    <hr>
    <br>
    <section name="entrenadores">    
        <h3 class="mb-4">Entrenadores</h3>
        <div class="row">
            {% for entrenador in Entrenadores %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ entrenador.imagen }}" class="card-img-top" alt="{{ entrenador.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ entrenador.nombre }}</h5>
                            <p class="card-text">{{ entrenador.descripcion }}</p>
                            {% if request.username == entrenador.username %}
                            <button type="button" class="btn btn-info" id="CambiarDescripcion">Cambiar descripción</button>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <br>
    <section name="asistentes">    
        <h3 class="mb-4">Asistentes</h3>
        <div class="row">
            {% for asistente in Asistentes %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ asistente.imagen }}" class="card-img-top" alt="{{ asistente.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ asistente.nombre }}</h5>
                            <p class="card-text">{{ asistente.descripcion }}</p>
                            {% if request.username == asistente.username %}
                                <button type="button" class="btn btn-info" id="CambiarDescripcion">Cambiar descripción</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}