{% extends 'GimnasioWebSite/layout.html' %}
{% load static %}

{% block body %}
<div class="container text-center my-5">
  <div id="TituloYLogoIndex" class="mb-4">
    <h1 class="display-4">Gimnasio Codemakers</h1>
    <img src="{% static "GimnasioWebSite/logo.png" %}" alt="logo" class="img-fluid my-3" style="max-width: 150px;">
  </div>
  <h2 class="mb-4">Comienza ya</h2>
  <a href="{% url "verSuscripciones" %}">
    <button class="btn btn-primary btn-lg">Empieza ahora!!</button>
  </a>
</div>
{% endblock %}