<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gimnasio Codemakers{% endblock %}</title>
    <style>
        #principalNavBar{
            display: flex;
            justify-content: space-between;
        }

        .logoNavBar{
            
        }

        .menu ul{
            display: flex;
            gap: 25px;
            list-style: none;
        }
    </style>
</head>
<body>
    <nav id="principalNavBar">
        <div class="logoNavBar">
           <a href="#"><img src="" alt="Gym Logo"></a> 
        </div>
        <div class="menu">
            <ul>
            {% if user.is_authenticated %}
                <a href="#"> <li>Informacion</li> </a>
                <a href="#"> <li>Suscribirse</li> </a>
                <a href="#"> <li>Mis Suscripciones</li> </a>
                <a href="{% url 'logout' %}"> <li>Cerrar sesion</li> </a>
            {% else%}
                <a href="{% url 'login' %}"> <li>Iniciar sesion</li> </a>
                <a href="{% url 'register' %}"> <li>Registrarse</li> </a>
            {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>