{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'GimnasioWebSite/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'GimnasioWebSite/paymentStyle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <title>
      {% block title %}
        Gimnasio Codemakers
      {% endblock %}
    </title>
  </head>

  <body>
    <nav id="principalNavBar">
      <div class="logoNavBar">
        <a href="{% url 'home' %}"><img src="" alt="Gym Logo" /></a>
      </div>
      <div class="menu">
        <ul>
          <a href="#"><li>Informacion</li></a> 
          {% comment %} {% if request.user.rol == 'Cliente' and user.is_authenticated and request.user.rol != 'Entrenador' %} {% endcomment %}
            <a href="{% url 'verSuscripciones' %}"><li>Suscribirse</li></a>
            <a href="{% url 'verSuscripciones' %}"><li>Mis Suscripciones</li></a>
          {% comment %} {% else %} {% endcomment %}
            {% comment %} <a href="#"><li>Administrar</li></a> {% endcomment %}
          {% comment %} {% endif %} {% endcomment %}
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><li>Cerrar Sesion</li></a>
          {% else %}
            <a href="{% url 'login' %}"><li>Iniciar sesión</li></a>
            <a href="{% url 'register' %}"><li>Registrarse</li></a>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block body %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'GimnasioWebSite/main.js' %}"></script>
  </body>
</html>
