{% extends "GimnasioWebSite/layout.html" %}

{% block body %}

    <h2>Inicia sesión</h2>


    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <input autofocus class="form-control" type="text" name="username" placeholder="Nombre de usuario">
        </div>
        <br>
        <div>
            <input class="form-control" type="password" name="password" placeholder="Contraseña">
        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Iniciar sesión">
        </div>
    </form>

    {% if alerta %}
    <br>
        {{ alerta }}
    <br>
    {% endif %}

    ¿No tienes una cuenta? <a href="{% url 'register' %}">Registrate aquí.</a>

{% endblock %}