{% extends "GimnasioWebSite/layout.html" %}

{% block body %}

    <h2>Registrate</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div>
            <input autofocus type="text" name="names" placeholder="Primer y/o segundo nombre" required>
        </div>
        <br>
        <div>
            <input autofocus type="text" name="lastNames" placeholder="Primer y/o segundo apellido" required>
        </div>
        <br>
        <div>
            <input autofocus type="text" name="number" placeholder="Numero telefonico">
        </div>
        <br>
        <div>
            <input autofocus type="text" name="emergencyNumber" placeholder="Numero telefonico de emergencia">
        </div>
        <br>
        <div>
            <input autofocus type="text" name="address" placeholder="Dirección">
        </div>
        <br>
        <div>
            <input type="email" name="email" placeholder="Correo electrónico" required>
        </div>
        <br>
        <div>
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <br>
        <div>
            <input type="password" name="confirmation" placeholder="Confirmación de contraseña" required>
        </div>
        <br>
        <div>
            <input type="submit" value="Crear cuenta">
        </div>
    </form>

    ¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí.</a>

{% endblock %}