{% extends 'GimnasioWebSite/layout.html' %}

{% block body %}
<div style="margin-top: 1%; margin-left: 1%;">
    <h2>Nuestras suscripciones</h2>
</div>

<section id="Suscripciones" class="d-flex justify-content-center align-items-center bg-dark" style="height: calc(100vh - 104px) !important;">
    
    {% for suscripcion in Suscripciones %}
        <article id="cartaPlan" class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{ suscripcion.nombre }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Precio: {{ suscripcion.precio }}</h6>
            <p class="card-text">{{ suscripcion.descripcion }}</p>
            <a href="{% url 'pagoSuscripcion' suscripcion.nombre %} " class="card-link btn btn-success">Ir a pagar</a>
            </div>
        </article>
    {% endfor %}
        
</section>
{% endblock %}
